.sidebar {
    width: 215px;
    flex-shrink: 0;
    background: #f1f5f9;
    border-right: 1px solid #cfd5dc;
    padding: 18px 10px;
}

.sidebar-title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}

.user-card {
    height: 118px;
    border: 1px solid #cfd5dc;
    border-radius: 26px;
    background: #f8fafc;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    margin-bottom: 0;
}

.user-card span {
    font-size: 12px;
    font-weight: 600;
}

.sidebar-section {
    border: 1px solid #c4ccd5;
    padding: 10px;
    font-size: 11px;
    font-weight: 700;
    margin-top: 0;
}

.sidebar-item {
    width: 100%;
    min-height: 48px;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #c4ccd5;
    border-top: none;

    background: transparent;

    padding: 0 10px;

    font-size: 11px;
    font-weight: 600;

    cursor: pointer;

    color: #26364d;
}

.sidebar-item.active {
    background: #ffffff;
}